<div class="header">
  <h1 class="title"><b><a href="/">{{ site.name }}</a></b></h1>
  <a class="extra" href="/">home</a>
  <!--<a class="extra" href="/research.html">research</a>-->
  <a class="extra" href="/publications.html">publications</a>
  <a class="extra" href="https://gitlab.cs.washington.edu/walter">gitlab</a>
  <a class="extra" href="https://github.com/waltercai">github</a>
  <!--<a class="extra" href="/blog.html">blog</a>-->
  <a class="extra" href="https://drive.google.com/open?id=17AfLwBRiZJfVhE80kpFzLZLtp_CSKjif">resume</a>
</div>
