<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/me.png" width="200px" height="200px">
                </div>
                <div class="contact">
                  <i>Graduate Student</i> <br>
                  Paul G Allen Center<br>
                  185 Stevens Way<br>
                  Seattle, WA - 98195<br>
                  Email: <a href="mailto:walter[at]cs[dot]washington[dot]edu">walter[at]cs[dot]washington[dot]edu</a> <br><br><br><br><br>
                </div>
              </div>
              <div class="homecontent">
                <b>Research Interests</b> <br>
                  <p>I have a broad interest in data management including big data systems, relational database optimization, and robust query execution.
                  I seek to marry theoretical foundations with system building.
                  My current project centers on join cardinality bounding.</p>
                <!--<ul>
                  <li>Machine skew in iterative parallel query execution</li>
                  <li>Approximate query answering</li>
                  <li>Compressed sketches</li>
                </ul>-->
                  
                <b>Brief Bio</b> <br>
                <p>I am a PhD student in the <a href="http://www.cs.washington.edu/"> University of Washington Paul G. Allen School of Computer Science & Engineering</a>. My primary research area is <a href="http://db.cs.washington.edu/">Databases</a> where I am fortunate to be working with Professors <a href="https://homes.cs.washington.edu/~suciu/">Dan Suciu</a>, and <a href="http://www.cs.washington.edu/people/faculty/magda">Magdalena Balazinska</a>.</p>

                <p>Previously, I studied mathematics at <a href="https://www.math.cornell.edu/m/">Cornell University</a>,
                    graduating summa cum laude in 2014. During my undergrad I participated in two REU's at
                    Rutgers <a href= "http://dimacs.rutgers.edu/">DIMACS</a>, and UCLA <a href ="http://www.ipam.ucla.edu/">IPAM</a>.
                    Following my bachelor's I attended the <a href="http://www.cs.wisc.edu/">University of Wisconsin</a> completing
                    a Master's in CS where I worked with <a href="http://pages.cs.wisc.edu/~anhai/">Prof. AnHai Doan</a>.
                    Before coming to Seattle I interned for Bayesian machine learning startup,
                    <a href="https://gamalon.com/">Gamalon</a>.
                    More recently I interned at <a href= "https://www.google.com/">Google</a> where I worked in the Youtube Data Team.
                    I am currently at Microsoft Research in the <a href= "https://www.microsoft.com/en-us/research/group/data-management-exploration-and-mining-dmx/">DMX</a> group.
                  </p>
              </div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>
