<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/me.jpg" width="200px" height="200px">
                </div>
                <div class="contact">
                  <i>Graduate Student</i> <br>
                  Paul G Allen Center<br>
                  185 Stevens Way<br>
                  Seattle, WA - 98195<br>
                  Email: <a href="mailto:walter@cs.washington.edu">walter@cs.washington.edu</a> <br><br><br><br><br>
                </div>
              </div>
              <div class="homecontent">
                <b>Research Interests</b> <br>
                I am interested in Database and Machine Learning research. I seek to marry theoretical foundations with robust system building. Below are some topics I have been considering:
                <ul>
                  <li>Machine skew in iterative parallel query execution</li>
                  <li>Approximate query answering</li>
                  <li>Compressed sketch construction</li>
                </ul>

                <b>Brief Bio</b> <br>
                <p>I am a PhD student member of the <a href="http://db.cs.washington.edu/">Databases</a> group in the <a href="http://www.cs.washington.edu/">University of Washington Computer Science & Engineering</a> department. I am fortunate to be working with Professors <a href="https://homes.cs.washington.edu/~suciu/">Dan Suciu</a>, and <a href="http://www.cs.washington.edu/people/faculty/magda">Magdalena Balazinska</a>.</p>

                <p>Previously, I studied mathematics at <a href="https://www.math.cornell.edu/m/">Cornell University</a>, graduating summa cum laude in 2014. During my undergrad I participated in two REU's at Rutgers <a href= "http://dimacs.rutgers.edu/">DIMACS</a>, and UCLA <a href ="http://www.ipam.ucla.edu/">IPAM</a>. Following my bachelor's I attended the <a href="http://www.cs.wisc.edu/">University of Wisconsin</a> completing a Master's in CS where I worked with <a href="http://pages.cs.wisc.edu/~anhai/">Prof. AnHai Doan</a>. Before coming to Seattle I interned for Bayesian machine learning startup, <a href="https://gamalon.com/">Gamalon</a>.</p>
              </div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>
