<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/me.jpg" width="200px" height="200px">
                </div>
                <div class="contact">
                  <i>Graduate Student</i> <br>
                  Paul G Allen Center<br>
                  185 Stevens Way<br>
                  Seattle, WA - 98195<br>
                  Email: <a href="mailto:walter@cs.washington.edu">walter@cs.washington.edu</a> <br>
                </div>
              </div>
              <br>
              <br>
              <br>
              <div class="homecontent">
                <b>Research Interests</b> <br>
                I am interested in Database and Machine Learning research. I seek to marry theoretical foundations with robust system building. Below are some topics I have been considering:
                <ul>
                  <li>Machine skew in iterative parallel query execution</li>
                  <li>Approximate query answering</li>
                  <li>Compressed sketch construction</li>
                </ul>

                <b>Brief Bio</b> <br>
                I am a graduate student at the <a href="http://www.washington.edu">University of Washington</a> in the <a href="http://www.cs.washington.edu/">Computer Science & Engineering</a> department. Specifically, I am a member of the <a href="http://db.cs.washington.edu/">UW Database</a> group where I am fortunate to be working with <a href="https://homes.cs.washington.edu/~suciu/">Prof. Dan Suciu</a>, and <a href="http://www.cs.washington.edu/people/faculty/magda">Prof. Magdalena Balazinska</a>.

                I previously studied mathematics at Cornell University where I graduated in 2014. During my undergrad I participated in two REU's at Rutgers <a href= "http://dimacs.rutgers.edu/">DIMACS</a>, and UCLA <a href ="http://www.ipam.ucla.edu/">IPAM</a>. Following my bachelor's I attended the <a href="http://www.cs.wisc.edu/">University of Wisconsin</a> completing a Masters in CS where I worked with <a href="http://pages.cs.wisc.edu/~anhai/">Prof. AnHai Doan</a>. Before coming to Seattle I interned for Bayesian machine learning startup <a href="https://gamalon.com/">Gamalon</a>.
              </div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>
